In [174]:
import pandas as pd
df = pd.read_excel(r'C:\Users\risha\Downloads\online_retail_II.xlsx')
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

# Count the words in 'Description' column and add another column representing the numbers.

In [175]:
num_Words=[]
for i in df['Description']:
    if type(i) == str:
        words = i.split()
        len_words = len(words)
        num_Words.append(len_words)
    
    else:
        num_Words.append('non string')
        
        
df["word_count of_descr"]=num_Words
        
df.head(5)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,word_count of_descr
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,6
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,3
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,3
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,5
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,4

In [176]:
df_new=df
df_new.dropna()
df_new['num_words1'] = [len(i) if type(i)==list else "nan" for i in df_new['Description'].str.split() ]

df_new['Description_1'] = [i for i in df_new['Description'].str.split()]

df_new

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,word_count of_descr,num_words1,Description_1
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,6,6,"[15CM, CHRISTMAS, GLASS, BALL, 20, LIGHTS]"
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,3,3,"[PINK, CHERRY, LIGHTS]"
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,3,3,"[WHITE, CHERRY, LIGHTS]"
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,5,5,"[RECORD, FRAME, 7"", SINGLE, SIZE]"
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,4,4,"[STRAWBERRY, CERAMIC, TRINKET, BOX]"
...,...,...,...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom,3,3,"[FELTCRAFT, DOLL, ROSIE]"
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom,4,4,"[FELTCRAFT, PRINCESS, LOLA, DOLL]"
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom,4,4,"[FELTCRAFT, PRINCESS, OLIVIA, DOLL]"
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom,5,5,"[PINK, FLORAL, FELTCRAFT, SHOULDER, BAG]"
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom,4,4,"[JUMBO, STORAGE, BAG, SUKI]"